/Proyecto final/UpoCar/nbproject/private/
/Proyecto final/WebService/nbproject/private/
/Proyecto final/UpoCar/build/
/Proyecto final/WebService/build/
/Proyecto final/WebService/dist/
/Examenes resueltos/Bloque 3/p5/nbproject/private/
/Examenes resueltos/Bloque 3/p6/nbproject/private/
/Examenes resueltos/Bloque 3/p6/build/
/EPD9/p6/nbproject/private/
/EPD9/p5/nbproject/private/